menu "Coin Ticker Configuration"

    config DEBUG_ENABLE
        bool "debug enable"
        default y
        help
            Enable or disable debug.

	config QUICK_WIFI_START
		bool "Quick Setup WiFi enable"
        default n
        help
            Enable or disable debug.
	
	config MANUAL_WIFI_SSID
        string "Manual Wi-Fi SSID"
        default "WIFI_SSID"
        depends on QUICK_WIFI_START
        help
            Manual config SSID (network name) to connect to.

	config MANUAL_WIFI_PASS
        string "Manual Wi-Fi Password"
        default "WIFI_PASS"
		depends on QUICK_WIFI_START
        help
            Manual config Wi-Fi password (WPA or WPA2) for the provisioning.
	    	Can be left blank if the network has no security set.
	
	config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

menu "Access Point configuration"

	config AP_SSID
		string "Wifi SSID"
		default "coinclock"
		help
			SSID for the Access Point Wifi network (max 31 chars)

	config AP_PASSWORD
		string "Wifi password"
		default "coinclock@123"
		help
			Password for the Wifi network (if needed)

	config AP_CHANNEL
		int "Wifi channel"
		default 0
		help
			Channel for the Wifi network
	
	choice
		prompt "Authentication mode"
		default WIFI_AUTH_WPA2_PSK
		help
			Authentication mode for the Wifi network
		config WIFI_AUTH_OPEN
			bool "Open"
		config WIFI_AUTH_WEP
			bool "WEP"
		config WIFI_AUTH_WPA_PSK
			bool "WPA-PSK"
		config WIFI_AUTH_WPA2_PSK
			bool "WPA2-PSK"
		config WIFI_AUTH_WPA_WPA2_PSK
			bool "WPA-PSK or WPA2-PSK"
		config WIFI_AUTH_WPA2_ENTERPRISE
			bool "WPA2 Enterprise"			
	endchoice
	
	config AP_HIDE_SSID
		bool "Hide SSID"
		default 0
		help
			Hide SSID
	
	config AP_MAX_CONNECTIONS
		int "Maximum concurrent connections"
		range 1 4
		default 4
		help
			Maximum number of concurrent connections (1-4)
	
	config AP_BEACON_INTERVAL	
		int "Beacon interval (ms)"
		range 100 60000
		default 100
		help
			Beacon interval in ms (100-60000)		
endmenu
endmenu # system setting
